body {
  margin: 0;
  font: 14px 'Roboto', 'Arial', sans-serif;
  color: #222;
}

.container {
  padding: 20px;
  text-align: right;
}

.bth {
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #006496;
  border: 3px solid #006496;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
  cursor: pointer;
  color: #eee;
}

.asc {
  background-image: url(../img/up.jpg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.desc {
  background-image: url(../img/down.jpg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: bottom;
}